<header class="l-header">
  <div class="l-header-main">
    <section class="l-header-main__logo">
      <img src="assets/img/coiab_logo.svg" alt="">
      <span>Alerta Indigena Covid-19</span>
      <div></div>
    </section>
    <section class="l-header-main__content">
      <span>“Não são números, são vidas!”</span>
      <section class="c-header__box">
        <div class="c-box__info">
          <span class="c-box__info-title">Indigenas vacinados</span>
          <span class="c-box__info-title c-box__info-subtitle-1">161.777</span>
        </div>
        <div class="c-box__info">
          <span class="c-box__info-title">Cassos confirmados</span>
          <span class=" c-box__info-title c-box__info-subtitle-2">35.763</span>
        </div>
        <div class="c-box__info">
          <span class="c-box__info-title">Óbitos</span>
          <span class="c-box__info-title c-box__info-subtitle-3">105</span>
        </div>
      </section>
      <section class="c-header__icons">
        <div></div>
        <span> <img src="assets/img/share.svg" alt=""></span>
        <span> <img src="assets/img/alert-circle.svg" alt=""></span>
      </section>
    </section>
  </div>
</header>
