<div class="c-aside-uf">
  <span class="c-aside-uf-title">
    Indigenas vacinados
  </span>
  <span class="c-aside-uf-numbers">
    161.777
  </span>
  <span class="c-aside-uf-count">
  </span>
  <div></div>
</div>
<div class="c-aside-uf">
  <span class="c-aside-uf-title">
    Cassos confirmados
  </span>
  <span class="c-aside-uf-numbers c-aside-uf-color-red">
    161.777
  </span>
  <span class="c-aside-uf-count">
    <label class="">Casos suspeitos</label>
    <span class="">847</span>
  </span>
  <div></div>
  <button mat-raised-button color="primary" (click)="openDialog()">Abrir modal MAPA</button>
</div>
