<app-header></app-header>
<main class="l-main">
  <nav class="l-menu">
    <section class="c-menu">
      <section class="c-menu__main c-menu__content">
        <ul>
          <li routerLink="/uf" routerLinkActive #routeuf="routerLinkActive">
            <img [ngClass]="routeuf.isActive  ? 'is-active' : 'is-not-active'" src="assets/img/graph-bar@140x140.png"
              alt="">
            <span>UF</span>
          </li>
          <li routerLink="/dseis" routerLinkActive #routedesei="routerLinkActive">
            <img [ngClass]="routedesei.isActive  ? 'is-active' : 'is-not-active'" src="assets/img/hospitalization.svg"
              alt="">
            <span>DSEIS</span>
          </li>
          <li routerLink="/povos" routerLinkActive #routepovo="routerLinkActive">
            <img [ngClass]="routepovo.isActive  ? 'is-active' : 'is-not-active'" src="assets/img/native-american.svg">
            <span>POVOS</span>
          </li>
          <li routerLink="/tis" routerLinkActive #routeti="routerLinkActive">
            <img [ngClass]="routeti.isActive  ? 'is-active' : 'is-not-active'" src="assets/img/povos.svg">
            <span>TI`s</span>
          </li>
          <li routerLink="/coiab" routerLinkActive #routecoiab="routerLinkActive">
            <img [ngClass]="routecoiab.isActive  ? 'is-active' : 'is-not-active'" src="assets/img/archery.svg">
            <span>COIAB</span>
          </li>
        </ul>
      </section>
    </section>
  </nav>
  <aside class="l-aside">
    <section class="l-aside-graph">
      <router-outlet></router-outlet>
    </section>
    <section class="l-aside-footer">
      <div class="l-aside-footer__content">
        <span>Apoio:</span>
        <img src="assets/img/ics.svg" alt="">
      </div>
      <div class="l-aside-footer__content">
        <span>Parceria:</span>
        <img src="assets/img/ipam.svg" alt="">
      </div>
    </section>
  </aside>
  <section class="l-content" style="justify-content:unset">
    <app-map></app-map>
  </section>
</main>
